body {
  font: 14px Arial;
}

h1 {
  margin: 30px 0 5px 0;
  padding: 0;
}
code {
  padding: 0;
  margin: 5px 0;
  display: block;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 15px 0;
}
td, th {
  padding: 4px;
}
th {
  text-align: left;
  width: 130px;
}
tr {
  display: none;
}
tr.rendered {
  display: block;
}
tr.rendered:nth-child(odd) {
  background: #eee;
}

#gryphon {
  -webkit-box-shadow: 1px 1px 6px #000;
  border: 4px solid #fff;
  background: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#loader {
  font: 30px Arial;
  text-align: center;
  padding-top: 20px;
}
#status {
  font: 24px Arial;
  text-align: center;
  padding-top: 30px;
}
#quarter-area {
  font: 24px Arial;
  text-align: center;
  padding-top: 20px;
}
#date-area {
  font: 24px Arial;
  text-align: center;
  padding-top: 20px;
}

#date-area p {
  font: 18px Arial;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

#rerun-area {
  font: 24px Arial;
  text-align: center;
  padding-top: 20px;
}

select {
    margin: 10px;
    border: 1px solid #111;
    background: transparent;
    width: 220px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.generate-button {
    background-color: white; 
    border: none;
    color: black; 
    padding: 16px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #008CBA;
}

.generate-button:hover {
    background-color: #008CBA;
    color: white;
}

.generate-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
};